HOST=0.0.0.0
PORT=1337
APP_KEYS=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
NODE_ENV=development
DATABASE_CLIENT=postgres
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
